.iframe-styling{
    border: none;
}

.table_style{
    border: none;
    cellspacing: 0;
    cellpadding: 0;
    width: 100%;
}

.td_style{
    margin-top: 7px;
    rowspan:2;
    align:left;
    valign:top;
}

.heading_style {
    font-family: "Helvetica Neue";
    font-weight: bold;
    color: inherit;
    font-size: 25px;
}

.text_style {
    font-family: Georgia;
    font-size: 16px;
    line-height: 1.5;
    color: inherit;
}

.tr_style{
    line-height: 3;
}

table.primary tr:nth-child(odd) {
    background-color: #757575;
}
table.primary tr:nth-child(even) {
    background-color: transparent;
}

.form_class{
    margin-left: 10%;
    margin-right: 10%;
}

.form_style{
    line-height: 2;
}

.form_style_margin{
    margin-top: 5%;
    margin-left: 23%;
}

.image_style{
    width: 300px;
    height: 300px;
    border: 2px;
}

.table{
    width: 100%;
}

.order_more {
    margin-top: 1%;
    text-align: center;
}

.mobile-only td{
    text-align: center;
}

.mobile-only th{
    text-align: center;
}

.customLogo .container-fluid .navbar-header .navbar-brand a{
    color: white;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height:346px;
}


@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    table td{
        width: 100%;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        text-align: left;
        /*padding-right: 10px;*/
        white-space: nowrap;
    }

    image {
        width: 100%;
        border: 0;
        display: block;
        height: auto;
    }

    .mobile-only td:nth-of-type(1):before{
        content: "Model Number:";
    }
    .mobile-only td:nth-of-type(2):before{
        content: "Threaded size in BSP:";
    }
    .mobile-only td:nth-of-type(3):before{
        content: "Rated Flow LPM:";
    }
    .mobile-only td:nth-of-type(4):before{
        content: "A mm:";
    }
    .mobile-only td:nth-of-type(5):before{
        content: "'B'A/F mm:";
    }
    .mobile-only td:nth-of-type(6):before{
        content: "'WTKGS:";
    }
    .mobile-only th{
        display: none;
    }

    .mobile-only td{
        padding-left: 70%;
        padding-top: 1.5%;
        text-align: left;
    }

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
            height:150px;
    }

    .logoTable td{
        padding: 5px 0px 5px 5px;
    }
}